@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	min-height: 0;
	min-width: 0;
}

html, body, #main {
	height: 100%;
	max-height: 100vh;
}

.btn {
	@apply w-24 px-4 py-2 m-2 bg-indigo-700 rounded cursor-pointer hover:bg-indigo-500 transition;
}

.self {
	transform: scaleX(-1);
}

:root {
	--navbar-height: 60px;
}

.userbar {
	height: var(--navbar-height);
}

.video-container {
	height: calc(100vh - var(--navbar-height));
	display: grid;
	grid-auto-rows: minmax(100px, auto);
}

.queryin {
	@apply w-full px-4 py-2 mx-2 text-white bg-gray-600 rounded
}

