@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	min-height: 0;
	min-width: 0;
}

html, body, #main {
	height: 100%;
	max-height: 100vh;
}

.btn {
	@apply w-24 px-4 py-2 m-2 bg-indigo-700 rounded cursor-pointer hover:bg-indigo-500 transition;
}

.self {
	transform: scaleX(-1);
}

:root {
	--navbar-height: 60px;
}

.nav {
	height: var(--navbar-height);
}

.video-container {
	height: calc(100vh - 60px);
	display: grid;
	grid-auto-rows: minmax(100px, auto);
}

.test {
	flex: 1 1 auto;
}

.viiideo-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	justify-content: center;
}

.pariiiiticipant {
	flex-basis: 30%;
	flex-shrink: 1;
}

.test {
	/*background-color: #f0f; */
}
